body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1b1a18;
  color: #e0d4b7;
}

header {
  background: #000;
  color: #e0d4b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header h1 {
  font-weight: 100;
  letter-spacing: 10px;
  text-align: justify;
  margin: 200;
}



/* Apenas um CSS extra para a lista da NAV ficar horizontal */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px; /* Espaçamento entre os links */
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: #e0d4b7;
  text-decoration: none;
  transition: 0.3s;
}
header h1:hover {
  color: #c5a45d;
}


.produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 produtos por linha */
  gap: 25px;
  padding: 30px;
  justify-items: center;
}

/* Cada produto */
.produto {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(66, 44, 35, 0.8);
  width: 90%;
  max-width: 350px;
  transition: transform 0.3s ease;
}

.produto:hover {
  transform: scale(1.03);
}

/* Imagem principal */
.produto img:first-child {
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.produto img {
    width: 100%;
    aspect-ratio: 3 / 4; /* formato vertical de terno */
    object-fit: cover;
    border-radius: 12px;
}

/* Imagem extra no meio */
.produto .imagem-meio {
  width: 70%;
  max-width: 200px;
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}

/* Nome do produto */
.produto h3 {
  margin-top: 10px;
  font-size: 20px;
  color: #cabcb0;
}

/* Descrição */
.produto .descricao {
  font-size: 14px;
  color: #857c7c;
  margin: 8px 0 12px 0;
}

/* Preço */
.preco {
  font-weight: bold;
  color: #000;
  font-size: 16px;
}



footer {
  background: #000;
  color: #c5a45d;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}



/* Responsivo */
@media (max-width: 900px) {
  .produtos {
    grid-template-columns: repeat(2, 1fr); /* 2 produtos por linha em tablets */
  }
}

@media (max-width: 600px) {
  .produtos {
    grid-template-columns: 1fr; /* 1 produto por linha no celular */
  }
}

/* Responsivo */
@media (max-width: 600px) {
  .produtos {
    grid-template-columns: 1fr; /* 1 produto por linha no celular */
  }
}
