body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #1b1a18;
  color: #e0d4b7;
}

header {
  background: #000;
  color: #e0d4b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

header h1 {
  font-weight: 100;
  letter-spacing: 10px;
  text-align: justify;
  margin: 200;
}


#pesquisa {
    display: flex;             
    align-items: center;       
    gap: 5px;                  
    width: 100%;               
}


/* Faz o input preencher o espaço */
#pesquisa input[type="text"] {
    flex-grow: 1;              
    padding: 10px;
    border: 1px solid #e0d4b7; 
    border-radius: 9px;
    background-color: #222;    
    color: #e0d4b7;            
}

/* Estiliza o botão */
#butao button {
    padding: 2px 12px;
    background-color: #c5a45d; 
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 40px; 
}

/* Apenas um CSS extra para a lista da NAV ficar horizontal */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px; /* Espaçamento entre os links */
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  color: #e0d4b7;
  text-decoration: none;
  transition: 0.3s;
}
header h1:hover {
  color: #c5a45d;
}


.prods {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  padding: 30px;
  justify-items: center;
  gap: 35px;
  margin: 10px;
  transition: transform 0.8s ease;
  
}

.prod img {
  width: 90%;
  max-width: 350px;
  border-radius: 8px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(66, 44, 35, 0.8);
  font-family: inherit;
}

.prod:hover{
  transform: scale(1.1);
}

.infor{
  margin-top: 10px;
  font-size: 20px;
  color: #cabcb0;
  place-items: center;
  text-align: center;
}
.para{
color: #cabcb0ad;
font-size: 16px
}



footer {
  background: #000;
  color: #c5a45d;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}



/* Responsivo */
@media (max-width: 900px) {
  .produtos {
    grid-template-columns: repeat(2, 1fr); /* 2 produtos por linha em tablets */
  }
}

@media (max-width: 600px) {
  .produtos {
    grid-template-columns: 1fr; /* 1 produto por linha no celular */
  }
}

/* Responsivo */
@media (max-width: 600px) {
  .produtos {
    grid-template-columns: 1fr; /* 1 produto por linha no celular */
  }
}
